@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
body,html {
  top: 0px;
  margin: 0;
  line-height: normal;
  overflow: hidden;
}
:root {
  /* fonts */
  --drop-menu-menu: Poppins;
  --font-inter: Inter;
  --font-sarabun: Sarabun;

  /* font sizes */
  --drop-menu-menu-size: 12px;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;

  /* Colors */
  --black: #313144;
  --white: #fff;
  --blues-gray2: #b8bbc2;
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #b1b1b1;
  --color-forestgreen: #448e1f;
  --color-beige: #dcf1d1;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-5xl: 24px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-4xl: 23px;
  --br-3xs: 10px;
}
